#chats-user {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000; }

.chats-user-window {
  position: relative;
  width: 380px;
  height: 520px;
  background: #ffffff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.3); }
  .chats-user-window .header {
    display: flex;
    align-items: center;
    height: 40px;
    background: #2C8AD2; }
    .chats-user-window .header .logo {
      display: inline-block;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background: #fff url(../images/chats-plugin-icon.png) center center no-repeat;
      border-radius: 50%; }
    .chats-user-window .header .name {
      position: relative;
      margin-left: 15px;
      width: 280px;
      font: 400 14px/18px "Roboto", sans-serif;
      color: #fff;
      white-space: nowrap;
      overflow: hidden; }
      .chats-user-window .header .name:before, .chats-user-window .header .name.close:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #2C8AD2 100%); }
    .chats-user-window .header .close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 21px;
      width: 21px;
      cursor: pointer;
      transition: transform 0.3s; }
      .chats-user-window .header .close:before, .chats-user-window .header .close:after {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;
        width: 20px;
        height: 2px;
        background: #ffffff;
        transform: rotate(45deg); }
      .chats-user-window .header .close:after {
        transform: rotate(-45deg); }
      .chats-user-window .header .close:hover {
        transform: rotate(180deg); }
  .chats-user-window ul {
    margin: 0;
    padding: 5px 10px;
    height: 402px;
    list-style: none;
    overflow-y: auto; }
    .chats-user-window ul li {
      margin: 0 0 10px 0;
      padding: 0 50px 0 0;
      font: 400 13px/18px 'Roboto', sans-serif; }
      .chats-user-window ul li .message {
        display: block;
        padding: 10px;
        background: #42A5F5;
        border-radius: 10px;
        color: #ffffff;
        box-shadow: -3px 3px 10px 0px #d0d0d0;
        transition: box-shadow 0.3s; }
        .chats-user-window ul li .message:hover {
          background: #3da0f0;
          box-shadow: -7px 7px 20px 0px #d0d0d0; }
      .chats-user-window ul li.support {
        padding: 0 0 0 50px !important; }
        .chats-user-window ul li.support .message {
          background: #ECEFF1 !important;
          color: #37474F; }
          .chats-user-window ul li.support .message:hover {
            background: #e7eaec !important; }
  .chats-user-window .form {
    position: absolute;
    padding: 8px 0 0 5px;
    width: 100%;
    height: 76px;
    bottom: 0;
    background: #2C8AD2; }
    .chats-user-window .form textarea {
      display: block;
      padding: 5px;
      width: 304px;
      height: 60px;
      font: 400 14px/16px Arial,sans-serif;
      border-radius: 6px;
      border: none;
      resize: none; }
    .chats-user-window .form button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 4px;
      width: 49px;
      height: 60px;
      background: #fff;
      border-left: 1px solid #CECECE;
      transition: background 0.3s;
      border-radius: 6px; }
      .chats-user-window .form button svg {
        position: absolute;
        fill: #2C8AD2; }
      .chats-user-window .form button:hover {
        background: #eee; }

.chats-user-open {
  position: relative;
  cursor: pointer; }
  .chats-user-open .logo {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: #ffffff;
    background: #ffffff url(../images/chats-plugin-icon.png) center center no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s; }
    .chats-user-open .logo:hover {
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3); }
