$f1: 'Roboto', sans-serif;

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }  
}

@mixin cf ( $ie6: false ) {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    @if $ie6 != false {
        & {
            zoom: 1;
        }
    }
}

// #adminmenumain {
// 	display: none;
// }
// #wpcontent {
// 	margin-left: 0;
// }
#wpbody {
	position: static;
}
#wpfooter {
	display: none;
}

.chats-admin {
	@include cf();
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 160px;
	display: flex;
	background: #fff;

	& * {
		box-sizing: border-box;
	}

	.chats-list {
		flex: 1;
		max-width: 400px;
		background: #fff;
		border-right: 1px solid #CFD8DC;

		.chat-item {
			position: relative;
			margin: 0 0 0 0;
			padding: 5px 5px 5px 5px;
			height: 80px;
			background: #fff;
			border-bottom: 1px solid #ECEFF1;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				right: -1px;
				top: -1px;
				height: 0;
				width: 4px;
				background: #8BC34A;
				transition: height 0.3s;
			}
			
			&.active,
			&:hover {
				&:before {
					height: 81px;
				}

				.chat-name {
					color: #37474F;
				}

				.chat-lastmessage {
					color: #37474F;
				}

				.chat-date {
					color: #546E7A;
				}
			}

			.chat-name {
				position: relative;
				margin: 0 0 2px 20px;
				padding: 5px 0 5px 5px;
				font: 400 14px/18px $f1;
				color: #607D8B;
				transition: color 0.3s;

				&:before {
					content: '';
					position: absolute;
					top: 8px;
					left: -13px;
					height: 10px;
					width: 10px;
					border-radius: 50%;
					background: #CFD8DC + 10;
				}

				&.online {
					&:before {
						background: #8BC34A;
					}
				}
			}

			.chat-lastmessage {
				padding: 0 10px 0 25px;
				font: 400 13px/14px $f1;
				color: #607D8B + 50;
			}

			.chat-date {
				position: absolute;
				bottom: 9px;
				right: 10px;
				font: 400 11px/11px $f1;
				color: #607D8B + 50;
				transition: color 0.3s;
			}
		}
	}
	.chats-messages {
		flex: 1;
		max-width: 800px;
		border-right: 1px solid #CFD8DC;
		overflow-y: auto;

		.message-block {
			padding: 5px 15px;

			.message {
				display: block;
				padding: 20px 10px;
				background: #42A5F5;
				border-radius: 20px;
				color: #ffffff;
				word-wrap: break-word;
				// box-shadow: -3px 3px 10px 0px #d0d0d0;
				// transition: box-shadow 0.3s;

				&:hover {
					// background: #42A5F5 - 5;
					// box-shadow: -7px 7px 20px 0px #d0d0d0;
				}
			}
		}
	}
}